{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <script src="/js/campaign_create.js"></script>
{% endblock %}

{% block sidebar %}
	{{ parent() }}
{% endblock %}

{% block content %}
<div class="main center">
	<h3>Create Campaign</h3>
	
	<form id="campaign_create_form" class="center form-horizontal" action="/campaign/create" method="POST">
<fieldset>

<!-- Text input-->
<div class="form-group">
  <label class="control-label" for="short_name"></label>
  <div class="controls col-md-4 center">
    <input id="short_name" name="short_name" placeholder="Short Name" class="form-control" type="text">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="control-label" for="long_url"></label>
  <div class="controls col-md-4 center">
    <input id="long_url" name="long_url" placeholder="Destination URL" class="form-control" type="text">
    
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="control-label" for="gift_id"></label>
  <div class="controls col-md-4 center">
    <select id="gift_id" name="gift_id" class="form-control">
    	<option value=''>--Select Gift Card--</option>
      {% for key,value in gift_cards %}      
      	<option value={{ key }}>{{ value }}</option>      
      {% else %}
      	<option>No Gift Cards Retrieved!</option>
      {% endfor %}
    </select>
  </div>
</div>


<!-- Text input-->
<div class="form-group">
  <label class="control-label" for="gift_amount"></label>
  <div class="controls col-md-4 center">
    <input id="gift_amount" name="gift_amount" placeholder="Gift Amount (USD)" class="form-control" type="text">    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="control-label" for="clicks"></label>
  <div class="controls col-md-4 center">
    <input id="clicks" name="clicks" placeholder="Target Number of Clicks" class="form-control" type="text">    
  </div>
</div>


<!-- Button -->
<div class="control-group">
  <label class="control-label" for="create_campaign"></label>
  <div class="controls">
    <button id="create_campaign" name="create_campaign" class="btn btn-black center" data-toggle="popover" 
        data-content="">Create</button>
  </div>
</div>

</fieldset>
</form>
	
</div>

{% endblock %}